/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body {
    font-family: Nerko One;
    background-color: cadetblue;
}

/* title */
h1 {
    text-align: center;
    font-size: 70px;
    color: white;
}
/* end of title */

/* main */
.row {
    text-align: center;
    width: 65%;
    margin: auto;
    padding: 20px;
}

/* common */
.card {
    width: 180px;
    height: 200px;
    margin: 5px;
    display: inline-block;
    background-image: url("../img/pattern.png");
    background-size: contain;
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.text-color {
    color: indigo;
}

img {
    width: 100%;
    padding: 10px;
    background-color: white;
    display: none;
}

.text {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 30px;
    background-color: white;
    display: none;
}
/* end of common */

/* hover  */
.card:hover {
    background-image: none;
}

.card:hover img {
    display: block;
}

.card:hover .text {
    display: block;
}
/* end of hover  */

.card-discover {
    width: 180px;
    height: 200px;
    margin: 5px;
    display: inline-block;
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.card-discover img {
    display: block;
}

.card-discover .text {
    display: block;
    
}
/* end of main */

/* footer  */
footer {
    text-align: center;
}
/* end of footer  */